{# src /it_ceritf/app/Resources/views/admin.html.twig #}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->

<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <!-- Viewport Metatag -->
        <meta name="viewport" content="width=device-width,initial-scale=1.0">

        <!-- Plugin Stylesheets first to ease overrides -->
        <link rel="stylesheet" type="text/css" href="{{ asset('backend/plugins/colorpicker/colorpicker.css')}}" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ asset('backend/custom-plugins/picklist/picklist.css')}}" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ asset('backend/plugins/select2/select2.css')}}" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ asset('backend/plugins/ibutton/jquery.ibutton.css')}}" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ asset('backend/plugins/cleditor/jquery.cleditor.css')}}" media="screen">

        <!-- Required Stylesheets -->
        <link rel="stylesheet" type="text/css" href="{{ asset('backend/bootstrap/css/bootstrap.min.css')}}" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ asset('backend/css/fonts/ptsans/stylesheet.css')}}" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ asset('backend/css/fonts/icomoon/style.css')}}" media="screen">

        <link rel="stylesheet" type="text/css" href="{{ asset('backend/css/mws-style.css')}}" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ asset('backend/css/icons/icol16.css')}}" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ asset('backend/css/icons/icol32.css')}}" media="screen">

        <!-- Demo Stylesheet -->
        <link rel="stylesheet" type="text/css" href="{{ asset('backend/css/demo.css')}}" media="screen">

        <!-- jQuery-UI Stylesheet -->
        <link rel="stylesheet" type="text/css" href="{{ asset('backend/jui/css/jquery.ui.all.css')}}" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ asset('backend/jui/jquery-ui.custom.css')}}" media="screen">

        <!-- Theme Stylesheet -->
        <link rel="stylesheet" type="text/css" href="{{ asset('backend/css/mws-theme.css')}}" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ asset('backend/css/themer.css')}}" media="screen">

        <link rel="stylesheet" type="text/css" href="{{ asset('backend/css/itcertif.css')}}" media="screen">

        <title>{%block title %}Campusys Admin{% endblock %}</title>

    </head>

    <body>


        <!-- Header -->
        <div id="mws-header" class="clearfix">

            <!-- Logo Container -->
            <div id="mws-logo-container">

                <!-- Logo Wrapper, images put within this wrapper will always be vertically centered -->
                <div id="mws-logo-wrap">
                    <img src="{{ asset('backend/images/campusys-logo.png')}}" alt="mws admin">
                </div>
            </div>

            <!-- User Tools (notifications, logout, profile, change password) -->
            <div id="mws-user-tools" class="clearfix">

                <!-- Notifications -->
                <div id="mws-user-notif" class="mws-dropdown-menu">
                    <a href="#" data-toggle="dropdown" class="mws-dropdown-trigger"><i class="icon-exclamation-sign"></i></a>

                    <!-- Unread notification count -->
                    <span class="mws-dropdown-notif">35</span>

                    <!-- Notifications dropdown -->
                    <div class="mws-dropdown-box">
                        <div class="mws-dropdown-content">
                            <ul class="mws-notifications">
                                <li class="read">
                                    <a href="#">
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                        <span class="time">
                                            January 21, 2012
                                        </span>
                                    </a>
                                </li>
                                <li class="read">
                                    <a href="#">
                                        <span class="message">
                                            Lorem ipsum dolor sit amet
                                        </span>
                                        <span class="time">
                                            January 21, 2012
                                        </span>
                                    </a>
                                </li>
                                <li class="unread">
                                    <a href="#">
                                        <span class="message">
                                            Lorem ipsum dolor sit amet
                                        </span>
                                        <span class="time">
                                            January 21, 2012
                                        </span>
                                    </a>
                                </li>
                                <li class="unread">
                                    <a href="#">
                                        <span class="message">
                                            Lorem ipsum dolor sit amet
                                        </span>
                                        <span class="time">
                                            January 21, 2012
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div class="mws-dropdown-viewall">
                                <a href="#">View All Notifications</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Messages -->
                <div id="mws-user-message" class="mws-dropdown-menu">
                    <a href="#" data-toggle="dropdown" class="mws-dropdown-trigger"><i class="icon-envelope"></i></a>

                    <!-- Unred messages count -->
                    <span class="mws-dropdown-notif">35</span>

                    <!-- Messages dropdown -->
                    <div class="mws-dropdown-box">
                        <div class="mws-dropdown-content">
                            <ul class="mws-messages">
                                <li class="read">
                                    <a href="#">
                                        <span class="sender">John Doe</span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                        <span class="time">
                                            January 21, 2012
                                        </span>
                                    </a>
                                </li>
                                <li class="read">
                                    <a href="#">
                                        <span class="sender">John Doe</span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet
                                        </span>
                                        <span class="time">
                                            January 21, 2012
                                        </span>
                                    </a>
                                </li>
                                <li class="unread">
                                    <a href="#">
                                        <span class="sender">John Doe</span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet
                                        </span>
                                        <span class="time">
                                            January 21, 2012
                                        </span>
                                    </a>
                                </li>
                                <li class="unread">
                                    <a href="#">
                                        <span class="sender">John Doe</span>
                                        <span class="message">
                                            Lorem ipsum dolor sit amet
                                        </span>
                                        <span class="time">
                                        {{ "now"|date("d/m/Y") }}
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div class="mws-dropdown-viewall">
                                <a href="#">View All Messages</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- User Information and functions section -->
                <div id="mws-user-info" class="mws-inset">

                    <!-- User Photo -->
                    <div id="mws-user-photo">
                        <img src="example/profile.jpg" alt="User Photo">
                    </div>

                    <!-- Username and Functions -->
                    <div id="mws-user-functions">
                        <div id="mws-username">
                            Bonjour, John Doe
                        </div>
                        <ul>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Changer le mot de passe</a></li>
                            <li><a href="#">D&eacute;connexion</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start Main Wrapper -->
        <div id="mws-wrapper">

            <!-- Necessary markup, do not remove -->
            <div id="mws-sidebar-stitch"></div>
            <div id="mws-sidebar-bg"></div>

            <!-- Sidebar Wrapper -->
            <div id="mws-sidebar">

                <!-- Hidden Nav Collapse Button -->
                <div id="mws-nav-collapse">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <!-- Searchbox -->
                <div id="mws-searchbox" class="mws-inset">
                    <form action="typography.html">
                        <input type="text" class="mws-search-input" placeholder="Search...">
                        <button type="submit" class="mws-search-submit"><i class="icon-search"></i></button>
                    </form>
                </div>

                <!-- Main Navigation -->
                <div id="mws-navigation">
                    <ul>
                        <li>
                            <a href="#"><i class="icon-home"></i> Universit&eacute;</a>
                            <ul>
                                <li><a href="{{ path('campusys_universities_list') }}">Universit&eacute;s</a></li>
                                <li><a href="{{ path('campusys_campuses_list') }}">&Eacute;coles/Facult&eacute;</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="icon-home"></i> P&eacute;dagogique</a>
                            <ul>
                                <li><a href="{{ path('campusys_filieres_list') }}">Fili&egrave;res</a></li>
                                <li><a href="{{ path('campusys_modules_list') }}">Modules</a></li>
                                <li><a href="{{ path('campusys_courses_list') }}">Cours</a></li>
                                <li><a href="{{ path('campusys_semestres_list') }}">Semestre</a></li>
                                <li><a href="#">Absences</a></li>
                                <li><a href="#">Salles</a></li>
                                <li><a href="#">Groupes</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="files.html"><i class="icon-folder-closed"></i> Ressource Humaine</a>
                            <ul>
                                <li><a href="#">Personnel Administratifs</a></li>
                                <li><a href="#">&Eacute;tudiants</a></li>
                                <li><a href="#">Professeurs</a></li>
                                <li><a href="#">Comptables</a></li>
                                <li></li>
                            </ul>
                        </li>
                        <li>
                            <a href="files.html"><i class="icon-folder-closed"></i> Examens</a>
                            <ul>
                                <li><a href="#">Tests</a></li>
                                <li><a href="#">Questions</a></li>
                                <li><a href="#">R&eacute;sultats</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="files.html"><i class="icon-folder-closed"></i> Statistiques</a>
                            <ul>
                                <li><a href="#">Stats des notes</a></li>
                                <li><a href="#">Stats des inscriptions</a></li>
                                <li><a href="#">Statistique p&eacute;dagogique</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="icon-pictures"></i> Gallery</a>
                        </li>

                        <li>
                            <a href="widgets.html"><i class="icon-cogs"></i> Configuration</a>
                            <ul>
                                <li><a href="#">Emploi du temps</a></li>
                                <li><a href="#">Param&egrave;tres globales</a></li>
                                <li><a href="#">Ville</a></li>
                                <li><a href="#">&Eacute;venement</a></li>
                                <li><a href="form_layouts.html">Journal</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>         
            </div>

            <!-- Main Container Start -->
            <div id="mws-container" class="clearfix">

                <!-- Inner Container Start -->
                <div class="container">


                    <!-- Panels Start -->



                  {% block body %}
                  {% endblock %}


                    <!-- Panels End -->
                </div>
                <!-- Inner Container End -->

                <!-- Footer -->
                <div id="mws-footer">
                    Copyright Campusys {{ "now"|date('Y')}}. All Rights Reserved.
                </div>

            </div>
            <!-- Main Container End -->

        </div>
        <!-- JavaScript Plugins -->
        <script src="{{ asset('backend/js/libs/jquery-1.8.3.min.js')}}"></script>
        <script src="{{ asset('backend/js/libs/jquery.mousewheel.min.js')}}"></script>
        <script src="{{ asset('backend/js/libs/jquery.placeholder.min.js')}}"></script>
        <script src="{{ asset('backend/custom-plugins/fileinput.js')}}"></script>

        <!-- jQuery-UI Dependent Scripts -->
        <script src="{{ asset('backend/jui/js/jquery-ui-1.9.2.min.js')}}"></script>
        <script src="{{ asset('backend/jui/jquery-ui.custom.min.js')}}"></script>
        <script src="{{ asset('backend/jui/js/jquery.ui.touch-punch.js')}}"></script>

        <script src="{{ asset('backend/jui/js/globalize/globalize.js')}}"></script>
        <script src="{{ asset('backend/jui/js/globalize/cultures/globalize.culture.en-US.js')}}"></script>
        <script src="{{ asset('backend/jui/js/timepicker/jquery-ui-timepicker.min.js')}}"></script>

        <!-- Plugin Scripts -->
        <script src="{{ asset('backend/custom-plugins/picklist/picklist.min.js')}}"></script>
        <script src="{{ asset('backend/plugins/autosize/jquery.autosize.min.js')}}"></script>
        <script src="{{ asset('backend/plugins/select2/select2.min.js')}}"></script>
        <script src="{{ asset('backend/plugins/colorpicker/colorpicker-min.js')}}"></script>
        <script src="{{ asset('backend/plugins/validate/jquery.validate-min.js')}}"></script>
        <script src="{{ asset('backend/plugins/ibutton/jquery.ibutton.min.js')}}"></script>
        <script src="{{ asset('backend/plugins/cleditor/jquery.cleditor.min.js')}}"></script>
        <script src="{{ asset('backend/plugins/cleditor/jquery.cleditor.table.min.js')}}"></script>
        <script src="{{ asset('backend/plugins/cleditor/jquery.cleditor.xhtml.min.js')}}"></script>
        <script src="{{ asset('backend/plugins/cleditor/jquery.cleditor.icon.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('backend/plugins/datatables/jquery.dataTables.min.js')}}"></script>
        <script src="{{ asset('backend/js/demo/demo.table.js')}}"></script>

        <!-- Core Script -->
        <script src="{{ asset('backend/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('backend/js/core/mws.js')}}"></script>
        <script src="{{ asset('backend/js/campusys.js')}}"></script>
        <script src="{{ asset('backend/js/contextmenu/taphold.js')}}"></script>
        <script src="{{ asset('backend/js/contextmenu/jquery.ui-contextmenu.min.js')}}"></script>  
        <script>
            function viewElement(id) {
                id = id.substring(5);
                $.get("view/" + id, function(response) {
                    $('#mws-jui-dialog').html(response);
                    $('#mws-jui-dialog').attr("title", "Information");
                    $("#mws-jui-dialog").dialog({
                        modal: true,
                        width: "640",
                        dialogClass: 'dlgfixed',
                        position: "center"

                    }).dialog("open");

                });

                return false;
            }


            function cellEdit(id) {
                var classes = $("." + id).attr('class').trim().split(" ");
                var currentVal = $("." + id).text();


                /* décomposition de la classe en 3 variables (type de champs, column, identifiant) */
                var variableCompose = classes[1];
                var type_champs = variableCompose.substring(0, 5);
                variableCompose = classes[1].substring(6);
                var column = variableCompose.substring(0, variableCompose.indexOf("_"));
                var identifiant = variableCompose.substring(variableCompose.indexOf("_") + 1, variableCompose.length);
                /*-------------------------------------------------------------*/

                var contenu_td = "";
                if (type_champs === "texte")
                {
                    contenu_td = "<input type='text' id ='txtEditing' value='" + currentVal + "'>";
                }
                else
                {

                    $.ajax({
                        url: 'combo_categories',
                        success: function(response) {
                            contenu_td = response;
                        },
                        async: false
                    });
                }
                $("." + id).html(contenu_td);

                $("." + id).children().first().focus();


                $("." + id).children().first().keypress(function(e) {
                    if (e.which === 13)
                    {
                        validate_cell_edit(currentVal, type_champs, column, identifiant);
                    }
                });

                $("." + id).children().first().blur(function(e) {
                    validate_cell_edit(currentVal, type_champs, column, identifiant);
                });
            }

            function activeChange(form_id)
            {
                $.get("active/" + form_id, function(response) {
                    response = parseInt(response);
                    if (response == "0")
                    {
                        $("#active_formation_" + form_id).attr('class', 'badge badge-important');
                        $("#active_formation_" + form_id).html('Non');
                    }
                    else
                    {
                        $("#active_formation_" + form_id).attr('class', 'badge badge-info');
                        $("#active_formation_" + form_id).html('Oui');
                    }
                });

                return false;
            }

            function deleteVille(ville_id)
            {
                var url = "delete/" + ville_id;
                $.get(url, function(response) {
                    $('#ville_listing').html(response);
                });
                return false;
            }

            function deleteImage(image_id)
            {
                var url = "gallery/delete/" + image_id;
                $.get(url, function(response) {
                    $('#picture_elements').html(response);
                });
                return false;
            }


        </script>
    </body>
</html>