{# empty Twig template #}
<center>
    <img src="../../../uploads/universities/{{ university.logo }}" alt="university" style="width: 300px; height: 200px;"/>
</center>
<ul class="mws-summary clearfix">
    <li>
        <span class="key"><i class="icon-support"></i> Nom</span>
        <span class="val">
            <span class="text-nowrap">{{ university.name }}</span>
        </span>
    </li>
    <li>
        <span class="key"><i class="icon-certificate"></i> Adresse</span>
        <span class="val">
            <span class="text-nowrap">{{ university.address }}</span>
        </span>
    </li>
    <li>
        <span class="key"><i class="icon-certificate"></i> Slogan</span>
        <span class="val">
            <span class="text-nowrap">{{ university.slogan }}</span>
        </span>
    </li>
    <li>
        <span class="key"><i class="icon-certificate"></i> Description</span>
        <span class="val">
            <span class="text-nowrap">{{ university.description }}</span>
        </span>
    </li>
    <li>
        <span class="key"><i class="icon-certificate"></i> Nom de pr&eacute;sident</span>
        <span class="val">
            <span class="text-nowrap">{{ university.presidentName }}</span>
        </span>
    </li>
    <li>
        <span class="key"><i class="icon-certificate"></i> Date de cr&eacute;ation</span>
        <span class="val">
            <span class="text-nowrap">{{ university.created | date("d/m/Y") }}</span>
        </span>
    </li>
</ul>